[Unit]
Description=Smart Meter Scheduler Service
After=network.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
User=sabado
WorkingDirectory=/home/sabado/smart_meter
ExecStart=/usr/bin/python3 scheduler.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smart-meter-scheduler

[Install]
WantedBy=multi-user.target
