[Unit]
Description=Smart Meter Scheduler REST API
After=network.target

[Service]
Type=simple
User=sabado
WorkingDirectory=/home/sabado/smart_meter
ExecStart=/usr/bin/python3 api.py
Restart=always
RestartSec=5
SyslogIdentifier=smart-meter-api

[Install]
WantedBy=multi-user.target
